//The different colors. First value is background for the panel box, 2nd is text-color for the panel-heading
//$color: #background-color, #color;
$black: #000000, #FFFFFF;
$darkBlue: #000088, #FFFFFF;
$darkGreen: #008800, #FFFFFF;
$darkAqua: #008888, #FFFFFF;
$darkRed: #AA0000, #FFFFFF;
$darkPurple: #880088, #FFFFFF;
$gold: #DDAA00, #FFFFFF;
$gray: #888888, #FFFFFF;
$darkGray: #555555, #FFFFFF;
$blue: #3333AA, #FFFFFF;
$green: #33B533, #FFFFFF;
$aqua: #33B5B5, #FFFFFF;
$red: #B53333, #FFFFFF;
$purple: #B533B5, #FFFFFF;
$yellow: #DDDD44, #FFFFFF;
$white: #CCCCCC, #FFFFFF;

$names: "black","darkBlue","darkGreen","darkAqua","darkRed","darkPurple","gold","gray","darkGray","blue","green","aqua","red","purple","yellow","white";
$colors: $black $darkBlue $darkGreen $darkAqua $darkRed $darkPurple $gold $gray $darkGray $blue $green $aqua $red $purple $yellow $white;

@for $i from 1 through length($names) {
  $this-color-fg: nth(nth($colors, $i),1);
  $this-color-bg: nth(nth($colors, $i),2);

  .panel-#{nth($names, $i)}{
    .panel-heading {
    background-color: $this-color-fg;
    color: $this-color-bg;
    }
    border: 1px solid $this-color-fg;
  }
}