//Load the open-source libraries: jquery, bootstrap, font-awesome, angularjs
script(src="http://codeorigin.jquery.com/jquery-2.0.3.min.js")
//link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/spacelab/bootstrap.min.css", rel="stylesheet")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
script(src="http://code.angularjs.org/1.1.5/angular.min.js")
script(src="http://code.angularjs.org/1.1.5/angular-resource.min.js")
script(src="/socket.io/socket.io.js")

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Apllication Models
script(type='text/javascript', src='/js/models/MatchModel.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/MenuController.js')
script(type='text/javascript', src='/js/controllers/MatchController.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')


//stylesheet
link(href="/css/common.css", rel="stylesheet")
link(href="/css/team-panels.css", rel="stylesheet")